<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento de Placas</title>
    <script>
        function startStream() {
            const videoElement = document.getElementById('video');
            videoElement.src = "/reconocimiento/video_feed/";
            videoElement.load();
            videoElement.play();
        }

        window.onload = function() {
            startStream();
        };
    </script>
</head>
<body>
    <h1>Reconocimiento de Placas</h1>
    <video id="video" width="640" height="480" autoplay></video>
</body>
</html>