{% extends 'reconocimiento/base.html' %}

{% block content %}
    <h1>¡Placa detectada!</h1>
    <p>Se ha detectado una placa válida: {{ texto_placa }}</p>
    <p>La página se actualizará automáticamente en unos segundos...</p>

    <script>
        // Recargar la página automáticamente después de unos segundos
        setTimeout(function() {
            cargarPagina();
        }, 5000);  // Ejemplo: recargar después de 5 segundos

        function cargarPagina() {
            location.reload();  // Función para recargar la página
        }
    </script>
{% endblock %}
